<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gim_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import gim_arm urdf file -->
    <xacro:include filename="$(find gim_arm_description)/urdf/gim_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="gim_arm.ros2_control.xacro" />


    <xacro:gim_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
